{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

<form class="form" method="post" action="">

    {% if Group.getID() %}
    <label>
        Code <br/>
        <input type="text" size="3" style="text-align:center;" readonly="true" value="{{Group.getID()}}"/>
    </label>
    <br/>
    {% endif %}
    
    <label>
        Name <br/>
        <input type="text" size="60" name="name" value="{{Group.getName()}}"/>
    </label>
    <label>
        Mode <br/>
        <select name="mode">
        {% for mode in modes %}
            {% if mode != "ERROR" and mode != "S" and mode != "F" %}
            <option value="{{mode}}" {{Group.getMode() == mode ? "selected='selected'" : ""}}>{{_getModeDescr(mode)}}</option>
            {% endif %}
        {% endfor %}
        </select>
    </label>
    <div class="label">
        Status <br/>
        <label for="md-a">
            <input type="radio" id="md-a" name="status" value="A" {{Group.getStatus() != "I" ? "checked='checked'" : ""}}/>
            Active
        </label>
        <label for="md-i">
            <input type="radio" id="md-i" name="status" value="I" {{Group.getStatus() == "I" ? "checked='checked'" : ""}}/>
            Inactive
        </label>
    </div>
    <br/><br/>
    &nbsp;
    <input type="submit" class="button min" value="Save"/>
</form>

{% endblock %}