{% extends "/../public/index-no-layout.twig" %}
    
{% block conteudo %}
    

<ul class="treeh">
    <li><a href="{{url}}/demo/index/item_1">Item 01</a></li>
    <li>
        <a href="{{url}}/demo/index/item_2">Item 02</a>
        <ul>
            <li><a href="{{url}}/demo/index/item_2.1">Item 02.01</a></li>
            <li><a href="{{url}}/demo/index/item_2.2">Item 02.02</a></li>
            <li><a href="{{url}}/demo/index/item_2.3">Item 02.03</a></li>
        </ul>
    </li>
    <li><a href="{{url}}/demo/index/item_3">Item 03</a></li>
    <li><a href="{{url}}/demo/index/item_4">Item 04</a></li>
    <li>
        <a href="{{url}}/demo/index/item_5">Item 05</a>
        <ul>
            <li><a href="{{url}}/demo/index/item_5.1">Item 05.01</a></li>
            <li>
                <a href="{{url}}/demo/index/item_5.2">Item 05.02</a>
                <ul>
                    <li><a href="{{url}}/demo/index/item_5.2.1">Item 05.02.01</a></li>
                    <li><a href="{{url}}/demo/index/item_5.2.2">Item 05.02.02</a></li>
                    <li>
                        <a href="{{url}}/demo/index/item_5.2.3">Item 05.02.03</a>
                        <ul>
                            <li><a href="{{url}}/demo/index/item_5.2.3.1">Item 05.02.03.01</a></li>
                            <li><a href="{{url}}/demo/index/item_5.2.3.2">Item 05.02.03.02</a></li>
                            <li><a href="{{url}}/demo/index/item_5.2.3.3">Item 05.02.03.03</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url}}/demo/index/item_5.2.4">Item 05.02.04</a></li>
                </ul>
            </li>
            <li><a href="{{url}}/demo/index/item_5.3">Item 05.03</a></li>
            <li><a href="{{url}}/demo/index/item_5.4">Item 05.04</a></li>
        </ul>
    </li>
    <li><a href="{{url}}/demo/index/item_6">Item 06</a></li>
</ul>



<script src="{{url}}/media/libs/hazo-tree-view-1.0/jquery.hazo-tree-view.js"></script>
<link href="{{url}}/media/libs/hazo-tree-view-1.0/jquery.hazo-tree-view.css" type="text/css" rel="stylesheet"/>

<script>
    
    $().ready(function(){
        
        $(".treeh").hazoTreeView({
            prefix: "changed"
        });
        
    });
</script>

{% endblock %}