*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: sans-serif;
}

.logo img{
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
}
.logo span{
    width: 300px;
    text-align: center;
    line-height: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    color: #000;
    font-weight: bold;
}

#frmlg{
    background-color: #FFF;
    margin: 20px auto;
    padding: 100px;
    width: 300px;
    height: 300px;
    -webkit-border-radius: 300px;
       -moz-border-radius: 300px;
            border-radius: 300px;
}

.login, .senha{
    display: block;
    width: 300px;
    line-height: 20px;
    margin: 0;
    padding-top: 15px;
}

.login label, .senha label{
    display: inline;
    width: 38px;
    float: left;
    text-align: right;
    padding-right: 10px;
    font-size: 12px;
    color: #000;
    vertical-align: middle;
    line-height: 25px;
    font-weight: bold;
}

.login input, .senha input{
    width: 210px;
    border: 1px solid #666;
    padding: 5px 15px;
    -webkit-border-radius: 300px;
       -moz-border-radius: 300px;
            border-radius: 300px;
    color: #777;
}

.btnsub{
    display: block;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: #000;
    color: #FFF;
    margin: 35px auto;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}
.btnsub:hover{
    background-color: #333;
}

.error{
    font-size: 12px;
    text-transform: uppercase;
    margin: auto;
    width: 300px;
    color: red;
    text-align: center;
    font-weight: bold;
    display: none;
}