<!doctype html>
<html class="no-js">
<head>
{% set url_d = url~"/modules/"~globals['request']['mode']|lower~"/View/"~globals['request']['module'] %}
{% set url_mode = url~"/"~globals['request']['mode']|lower %}
    <link rel="stylesheet" media="all" href="{{url}}/media/templates/mds/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" media="all" href="{{url}}/media/libs/jquery/jquery-ui-1.8.13.custom.css"/>
    <script src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{url}}/media/libs/jquery/jquery.form.js"></script>
    
    <script>
        var hazoParam = {
            url: "{{url}}",
            url_mode: "{{url_mode}}"
        }
    </script>

    <link rel="stylesheet" media="all" href="{{url_d}}/{{globals['request']['submodule']}}.css"/>
    <script src="{{url_d}}/{{globals['request']['submodule']}}.js"></script>
</head>

<body lang="pt-br">

    <div id="frmlg">
        
        <div class='logo'>
            {#<img src="{{url_d}}/Logo.gif"/>#}
            <span>Bem vindo</span>
        </div>
        
        <div class="error"></div>
        
        <form method="post" action="{{url}}/sessao/entrar" class="form-horizontal">

            <div class="login">
                <label>Login</label>
                <input type="text" class="form-control" name="login"/>
            </div>

            <div class="senha">
                <label>Senha</label>
                <input type="password" class="form-control" name="senha"/>
            </div>

            <input type="submit" value="Entrar" class="btnsub"/>

        </form>
    </div>

<script>
    {% include "sessao/login.js" %}
    
    {% if error_msg %}
        $().ready(function(){
            $('.error').text("{{error_msg}}").show();
        });
    {% endif %}
</script>
<style>{% include "sessao/login.css" %}</style>

</body>

</html>