
{% if usuarios['cont_total'] > 0 %}

<table class="table table-list">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Login</th>
            <th>E-mail</th>
            <th>Hash</th>
        </tr>
    </thead>
    <tbody>
        {% for Usuario in usuarios['rows'] %}
        <tr id="row-user-001">
            <td>{{Usuario.getNome()}}</td>
            <td><a href="{{url_module}}/edicao/{{Usuario.getHash()}}" class="fancybox-ajax">{{Usuario.getLogin()}}</a></td>
            <td>{{Usuario.getEmail()}}</td>
            <td>{{Usuario.getHash()}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

    <center><i>Nenhum usuário cadastrado</i></center>

{% endif %}