{% set action = url_module~(Usuario.getHash() ? "/atualizar" : "/criar" ) %}
    
<form role="form" method="post" action="{{action}}" id="form-usuario" autocomplete="off" style="min-width: 260px;">

    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" name="nome" value="{{Usuario.getNome()}}" autocomplete="off"/>
    </div>
    
    <div class="form-group">
        <label>E-mail</label>
        <input type="text" class="form-control" name="email" value="{{Usuario.getEmail()}}" autocomplete="off"/>
    </div>

    <div class="form-group">
        <label>Login</label>
        <input type="text" class="form-control" name="login" value="{{Usuario.getLogin()}}" autocomplete="off">
    </div>

    <div class="form-group">
        <label>Senha</label>
        <input type="password" class="form-control" name="senha" value="" autocomplete="Off"/>
        <p><small>Deixe em branco para não alterar</small></p>
    </div>

    <input type="hidden" name="hash" value="{{Usuario.getHash()}}"/>

    {% if Usuario.getHash() is empty %}
    <button type="reset" class="btn btn-default">Limpar Campos</button>
    {% endif %}

    <button type="submit" class="btn btn-success">{{Usuario.getHash() ? "Atualizar" : "Criar Usuário"}}</button>

</form>

<script>
    $().ready(function(){
        $("#form-usuario").ajaxForm({
            dataType: 'json',
            success: function(data){
                if( data.status ){
                    $.fancybox.close(true);
                    atualizaLista();
                }else{
                    noty({ text: data.msg, type: 'error', timeout: 4000 });
                }
            },
            error: function(){
                $.fancybox.close(true);
                noty({ text: "Falha ao enviar arquivo. Tente novamente mais tarde.", type: 'error', timeout: 4000 });
            }
        });
        
    });
</script>