{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "Usuários",
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Usuários", url: url~"/painel/administrador/usuario/lista" },
            { titulo: "Lista de Usuários", url: url~"/painel/administrador/usuario/lista" }
        ]
    }
%}
    
{% block conteudo %}

<div id="div-lista-users" style="display:none;"></div>
    
{% if lista_usuarios is empty %}
    <center id="center-no-users">
        <i>Nenhum usuário cadastrado</i>
    </center>
{% endif %}
<hr/>

<a href="{{url_module}}/novo" class="xx btn btn-primary fancybox-ajax">Novo Usuário</a>

<script>
    
    function atualizaLista(){
        $.ajax({
            url: "{{url_module}}/get-lista-usuarios-ajax",
            type: "post",
            dataType: "html",
            ifModified: true,
            success: function(data){
                if( data !== $("#div-lista-users").data("old-content") ){
                    $("#div-lista-users").data('old-content', data)
                    $("#center-no-users").remove();
                    $("#div-lista-users").html(data).show();
                }
            }
        });
    }
    atualizaLista();
    
</script>
    
{% endblock %}
