{% set listas = Board.getListas() %}
    
{% for Lista in listas %}

{% set cards = Lista.getCards() %}

<table class="table table-condensed table-list table-responsive table-cards">
    <thead>
        <tr>
            <th><b>{{Lista.getName()}}</b> <small><a href="#" class="novo-card" data-lista-id="{{Lista.getId()}}">Novo card</a></small></th>
        </tr>
    </thead>
    <tbody>
        {% for Card in cards %}
        <tr>
            <td>{{Card.getName()}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        
{% endfor %}

<script>        
    $().ready(function(){
        
        $(".novo-card").on('click', function(){
            
            var listaId = $(this).data('lista-id');
            
            $.fancybox({
                href:  '{{url}}/painel/board/novo-card/'+listaId,
                type:  'ajax'
            });
            
            $('#form-novo-card-'+$(this).data('lista-id')).remove();
            return false;
        });
        
        //$('.novo-card').first().click();
    });
</script>