
{% if lista_usuarios_disponiveis['cont_total'] > 0 %}

<table class="table table-list table-responsive">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Login</th>
            <th>E-mail</th>
            <th>Hash</th>
        </tr>
    </thead>
    <tbody>
        {% for Usuario in lista_usuarios_disponiveis['rows'] %}
        <tr id="row-user-001">
            <td><a href="#" onclick="selecionarUsuario('{{Usuario.getHash()}}'); return false;">{{Usuario.getNome()}}</a></td>
            <td>{{Usuario.getLogin()}}ss</td>
            <td>{{Usuario.getEmail()}}</td>
            <td>{{Usuario.getHash()}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

    <center><i>Todos os usuários cadastrados já estão vinculados a este projeto</i></center>

{% endif %}

<script>
    function selecionarUsuario( usuario_hash ){
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: "{{url_module}}/anexar-usuario-projeto",
            data: { projeto_hash: "{{Projeto.getHash()}}", usuario_hash: usuario_hash },
            success: function(data){
                if( data.status ){
                    $.fancybox.close(true);
                    atualizaLista();
                }else{
                    noty({ text: data.msg, type: 'error', timeout: 4000 });
                }
            },
            error: function(){
                $.fancybox.close(true);
                noty({ text: "Falha anexar usuário. Tente novamente mais tarde.", type: 'error', timeout: 4000 });
            }
        });
    }
</script>