
{% if usuarios > 0 %}

<table class="table table-list table-responsive">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Login</th>
            <th>E-mail</th>
            <th>Hash</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for Usuario in usuarios %}
        <tr id="row-user-001">
            <td>{{Usuario.getNome()}}</td>
            <td>{{Usuario.getLogin()}}</td>
            <td>{{Usuario.getEmail()}}</td>
            <td>{{Usuario.getHash()}}</td>
            <td><a href="#" onclick="deselecionarUsuario('{{Usuario.getHash()}}'); return false;">Desanexar Usuário</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

    <center><i>Nenhum usuário cadastrado</i></center>

{% endif %}

<script>
    function deselecionarUsuario( usuario_hash ){
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: "{{url_module}}/desanexar-usuario-projeto",
            data: { projeto_hash: "{{Projeto.getHash()}}", usuario_hash: usuario_hash },
            success: function(data){
                if( data.status ){
                    $.fancybox.close(true);
                    atualizaLista();
                }else{
                    noty({ text: data.msg, type: 'error', timeout: 4000 });
                }
            },
            error: function(){
                $.fancybox.close(true);
                noty({ text: "Falha excluir usuário. Tente novamente mais tarde.", type: 'error', timeout: 4000 });
            }
        });
    }
</script>