<div id="div-lista-users" style="display:none;"></div>

<a href="{{url_module}}/adiciona-usuario/{{Projeto.getHash()}}" class="btn btn-primary fancybox-ajax">Adicionar Usuário</a>

<script>
    
    function atualizaLista(){
        $.ajax({
            url: "{{url_module}}/lista-ajax/{{Projeto.getHash()}}",
            type: "post",
            dataType: "html",
            ifModified: true,
            success: function(data){
                if( data !== $("#div-lista-users").data("old-content") ){
                    $("#div-lista-users").data('old-content', data)
                    $("#center-no-users").remove();
                    $("#div-lista-users").html(data).show();
                }
            }
        });
    }
    atualizaLista();
    
</script>