{% macro listaCategorias(lista, first, Projeto) %}
        
    {% if lista|length > 0 %}
    
    {% if first %}
        <ul class="tree-view">
    {% else %}
        <ul>
    {% endif %}
    
        {% for Categoria in lista %}
            <li>
                <a href="{{url}}/projeto/{{Projeto.getSlug()}}/{{Categoria.getSlug()}}">{{Categoria.getTitulo()}}</a>
                
                {% import "projeto/functions.twig" as func %}
                {{func.listaCategorias(Categoria.listaCategoriasFilhas(), false, Projeto)}}
                
                {#% for Documento in Categoria.listaDocumentos() %}
                    <li><a href="{{url}}/projeto/{{Projeto.getSlug()}}/{{Categoria.getSlug()}}/{{Documento.getSlug()}}">{{Documento.getTitulo()}}</a></li>
                {% endfor %#}
                
            </li>
        {% endfor %}
        
    </ul>
    
    {% endif %}
    
{% endmacro %}

{% macro listaDocumentos(Categoria, Projeto) %}
<div class="col-sm-9" style="float:right;">
    <div class="panel panel-primary">
        <div class="panel-heading text-left">
            <h3 class="panel-title">{{Categoria.getTituloComposto(" > ")}}</h3>
        </div>
    </div>
</div>    

<div class="col-sm-9" style="float:right;">
    {% set cont = 0 %}
    {% for Filha in Categoria.listaCategoriasFilhas() %}
        {% set cont = cont + 1 %}
        <a href="{{url}}/projeto/{{Projeto.getSlug()}}/{{Filha.getSlug()}}" class="btn btn-primary">{{Filha.getTitulo()}}</a>
    {% endfor %}
    {% if cont > 0 %}
        <hr/>
    {% endif %}
</div>    
    
{% for Documento in Categoria.listaDocumentos() %}
<div class="col-sm-9" style="float:right;">
    <div class="panel panel-primary">
        <div class="panel-heading text-left">
            <h3 class="panel-title">
                {#<i class="fa fa-long-arrow-right"></i>#}
                {{Documento.getTitulo()}}
                <a href="#" class="glyphicon glyphicon-chevron-up" style="float:right;" onclick="toggleDoc(this);return false;"></a>
            </h3>
        </div>
        <div class="panel-body text-left">
            {{Documento.getConteudo()|raw}}
        </div>
    </div>
</div>
{% endfor %}
            
{% endmacro %}
