{% extends "/../public/index.twig" %}

{%
    set pagina = {
        titulo: "Visualização de Board: "~Board.getName(),
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Projetos", ativo:true },
            { titulo: Projeto.getTitulo(), url: url~"/painel/projetos/visualizacao/"~Projeto.getHash() },
            { titulo: "Boards", ativo:true },
            { titulo: Board.getName(), ativo:true }
        ]
    }
%}

{% set pagina = null %}
    
{% set import = ["highlight","tree-view"] %}
    
{% block conteudo %}
    
<style>
    .categorias{
        float: left;
        border: 2px solid #ccc;
    }
</style>
    
{% import "projeto/functions.twig" as func %}

<div class="col-sm-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                {#<i class="fa fa-long-arrow-right"></i>#}
                Categorias
            </h3>
        </div>
        <div class="panel-body">
            {{ func.listaCategorias(categorias, true, Projeto) }}
        </div>
    </div>
</div>

{% if Categoria %}
    {{ func.listaDocumentos(Categoria, Projeto) }}
{% endif %}
        
<script>
    $(document).ready(function() {
        
        $('pre code').each(function(i, block) {
            hljs.highlightBlock(block);
        });
        
        $(".tree-view").hazoTreeView();
    });
    
    function toggleDoc(element){
        if( jQuery(element).hasClass("glyphicon-chevron-down") ){
            jQuery(element).removeClass("glyphicon-chevron-down");
            jQuery(element).addClass("glyphicon-chevron-up");
            jQuery(element).parent().parent().parent().find(".panel-body").show();
        }else{
            jQuery(element).removeClass("glyphicon-chevron-up");
            jQuery(element).addClass("glyphicon-chevron-down");
            jQuery(element).parent().parent().parent().find(".panel-body").hide();
        }
    }
</script>

{% endblock %}