{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "Members",
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Members", ativo:true }
        ]
    }
%}

{% block conteudo %}

{% if members %}
    
<table class="table table-condensed table-list table-responsive table-cards">

{% for Membro in members %}
    <tr>
        <td><img src="{{ Membro.getAvatarHash() ? Membro.getImageUrl(30) : '' }}" class="img-avatar"/></td>
        <td>{{Membro.getInitials()}}</td>
        {% set color = Membro.getStatus() == 'disconnected' ? "red" : 'green' %}
        <td><a href="{{url_module}}/visualizacao/{{Membro.getId()}}" style="color:{{color}}">{{Membro.getFullName()}}</a></td>
    </tr>
{% endfor %}

</table>

{% else %}
    
    <center>Nenhum membro ou board cadastrado para este projeto</center>
    
{% endif %}
    
{% endblock %}