{% extends "painel.twig" %}

{% set ProjetoSelecionado = globals['page']['projeto_atual'] %}

{%
    set pagina = {
        titulo: "Visualização de Membro: "~Member.getFullName(),
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Members", url: url~"/painel/projeto/member/lista/"~ProjetoSelecionado.getHash() },
            { titulo: Member.getFullName(), ativo: true }
        ]
    }
%}

{% block conteudo %}

<style>
    .table-member tr td{
        padding: 5px 5px;
    }
    .table-member tr td:first-child{
        text-align: right;
        font-weight: bold;
        text-spacing: n
    }
</style>
    
<div class="row">
    <div class="form-group col-sm-7">
        <table class="table-member">
            <tr>
                <td>Nome: </td>
                <td>{{Member.getFullName()}}</td>
            </tr>
            <tr>
                <td>Iniciais: </td>
                <td>{{Member.getInitials()}}</td>
            </tr>
            <tr>
                <td>Tipo: </td>
                <td>{{Member.getMemberType()}}</td>
            </tr>
            <tr>
                <td>Status: </td>
                <td>{{Member.getStatus()}}</td>
            </tr>
            <tr>
                <td>Url Trello: </td>
                <td><a href="{{Member.getUrl()}}" target="_blank">{{Member.getUrl()}}</a></td>
            </tr>
            <tr>
                <td>Username: </td>
                <td>{{Member.getUsername()}}</td>
            </tr>
        </table>
    </div>
    <div class="form-group col-sm-5">
        <img src="{{Member.getImageUrl(170)}}"/>
    </div>
</div>
    
{% endblock %}