<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% set url_tpl = url~"/media/templates/public" %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{pagina.titulo ? pagina.titulo~" - " : ""}}Trello Connector</title>

        {# jQuery #}
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/jquery/jquery.form.js"></script>
        <link type="text/css" rel="stylesheet" href="{{url}}/media/libs/jquery/css/custom-theme/jquery-ui-1.8.22.custom.css" />

        {# Bootstrap core #}
        <link href="{{url_tpl}}/css/bootstrap.css" rel="stylesheet">
        <script src="{{url_tpl}}/js/bootstrap.js"></script>

        {# Add custom CSS here #}
        <link href="{{url_tpl}}/css/sb-admin.css" rel="stylesheet">
        <link href="{{url_tpl}}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        
        {# jQuery NOTY http://ned.im/noty #}
        <script type="text/javascript" src="{{url}}/media/libs/noty-2.2.2/js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <script type="text/javascript" src="{{url}}/media/libs/noty-2.2.2/js/noty/layouts/topCenter.js"></script>
        
        {# FancyApps http://fancyapps.com/fancybox #}
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/lib/jquery.mousewheel-3.0.6.pack.js"></script>
        <link rel="stylesheet" href="{{url}}/media/libs/fancyapps/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="{{url}}/media/libs/fancyapps/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        
        {% for tmp_module in import %}
            {% if tmp_module|lower == "ckeditor" %}
                <script type="text/javascript" src="{{url}}/application/library/CKEditor/ckeditor.js"></script>
                <script type="text/javascript" src="{{url}}/application/library/CKEditor/adapters/jquery.js"></script>
                <link rel="stylesheet" href="{{url}}/application/library/CKEditor/skins/moono/editor.css" type="text/css" media="screen" />
            {% endif %}
            {% if tmp_module|lower == "highlight" %}
                {# Doc in https://github.com/isagalaev/highlight.js #}
                <link rel="stylesheet" href="{{url}}/media/libs/highlight/styles/default.css">
                <script src="{{url}}/media/libs/highlight/highlight.pack.js"></script>
                <script>hljs.initHighlightingOnLoad();</script>
            {% endif %}
            {% if tmp_module|lower == "tree-view" %}
                <script src="{{url}}/media/libs/hazo-tree-view-1.0/jquery.hazo-tree-view.js"></script>
                <link href="{{url}}/media/libs/hazo-tree-view-1.0/jquery.hazo-tree-view.css" type="text/css" rel="stylesheet"/>
            {% endif %}
        {% endfor %}
        
        <style>#wrapper{ padding-left: 0 !important; }</style>
    </head>

    <body>

        <div id="wrapper">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
                        {% set ProjetoSelecionado = globals['page']['projeto_atual'] %}
                        {% set lista_projetos = globals['page']['lista_projetos'] %}
                        {{ ProjetoSelecionado ? ProjetoSelecionado.getTitulo() : "Selecione o Projeto" }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if lista_projetos %}
                            {% for Projeto in lista_projetos %}

                                <li><a href="{{url}}/projeto/{{Projeto.getSlug()}}"><i>{{Projeto.getTitulo()}}</i></a></li>
                        
                            {% endfor %}
                        {% else %}
                        <li><a href="#" onclick="return false;"><i>Nenhum projeto cadastrado</i></a></li>
                        {% endif %}
                    </ul>

                </div>

                <ul class="nav navbar-nav navbar col-sm-4 col-md-3 col-lg-3">
                    <li class="col-sm-12">
                        <form method="get" action="{{url}}/documentacao/pesquisa">
                            <input type="text" class="form-control" style="margin-top:7px;" placeholder="Pesquisar Documentação" name="Pesquisa">
                        </form>
                    </li>
                </ul>

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    {% set UsuarioOnline = globals['page']['UsuarioOnline'] %}
                    {% if UsuarioOnline %}
                        {% include "barra-usuario.twig" %}
                    {% else %}
                        {% include "/../public/barra-usuario.twig" %}
                    {% endif %}
                </div>
            </nav>

            <div id="page-wrapper">
                
                {% if pagina %}
                    <div class="row">
                        <div class="col-lg-12">
                            {% if pagina.titulo %}
                            <h1 style="font-size:22px;font-weight:bold;">{{pagina.titulo}} <small>{{pagina.subtitulo}}</small></h1>
                            {% endif %}

                            {% if pagina.caminho %}
                            <ol class="breadcrumb">
                                {% for caminho in pagina.caminho %}
                                    {% if caminho.ativo %}
                                        <li class="active">{{caminho.titulo}}</li>
                                    {% else %}
                                        <li><a href="{{caminho.url}}">{{caminho.titulo}}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {#<li class="active"><i class="fa fa-edit"></i> Forms</li>#}
                            </ol>
                            {% endif %}
                            {#
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                Visit <a class="alert-link" target="_blank" href="http://getbootstrap.com/css/#forms">Bootstrap's Form Documentation</a> for more information.
                            </div>

                            {{debug(errors,1)}}
                            #}
                        </div>
                    </div>
                {% endif %}

                {% block conteudo %}{% endblock %}
            </div>
        </div>
    </body>
</html>
