{% block conteudo %}
    
{% set action = url_module~(Categoria.getHash() ? "/atualizar" : "/criar") %}
    
<form method="post" action="{{action}}" id="form_cad_categoria">
    
    <input type="hidden" name="projeto[hash]" value="{{Projeto.getHash()}}"/>
    <input type="hidden" name="categoria[hash]" value="{{Categoria.getHash()}}"/>
    <input type="hidden" name="categoria[categoria_pai_hash]" value="{{CategoriaPai.getHash()}}"/>
    
        <div class="form-group col-sm-12">
            <label>Título:</label>
            <input type="text" class="form-control" name="categoria[titulo]" value="{{Categoria.getTitulo()}}"/>
        </div>
        <div class="form-group col-sm-12">
            <label>Descrição:</label>
            <textarea class="form-control" name="categoria[descricao]">{{Categoria.getDescricao()}}</textarea>
        </div>
        
        <div class="form-group col-sm-12">
            <input type="submit" value="Salvar" class="btn btn-primary"/>
        </div>
</form>
        
<script>

    $().ready(function(){
        
        $("#form_cad_categoria").ajaxForm({
            dataType: 'json',
            success: function( data ){
                if( data.status ){
                    $.fancybox.close(true);
                    atualizaSelectCategorias(data.categoria_hash);
                }else{
                    showMessage(data.msg);
                }
            }
        });
        
    });
</script>
        
{% endblock %}
