{% macro listaCategorias(lista, first) %}
    
    {% if lista|length > 0 %}
    
        {% for Categoria in lista %}
            <div class="categoria sortable-cat{{first ? " first" : ""}}" data-cat-hash="{{Categoria.getHash()}}" id="cat_{{Categoria.getHash()}}">
                <h3>
                    <b><i class="glyphicon glyphicon-folder-open"></i>&nbsp; {{Categoria.getTitulo()}}</b>
                    <small class="lnk">
                        <a href="{{url_mode}}/documento/novo/{{Categoria.getHash()}}" id="nova_sub_cat">Novo Documento</a>
                    </small>
                    <small class="lnk">
                        <a href="{{url_mode}}/categoria/nova-sub/{{Categoria.getHash()}}" class="fancybox-ajax n-cat" id="nova_sub_cat">Nova Sub-categoria</a>
                        &nbsp;&nbsp;
                    </small>
                    <small class="lnk">
                        <a href="{{url_mode}}/categoria/edicao/{{Categoria.getHash()}}" class="fancybox-ajax">Editar</a>
                        &nbsp;&nbsp;
                    </small>
                    <small class="lnk">
                        <a href="#" onclick="excluirCat('{{Categoria.getHash()}}');return false;">Excluir</a>
                        &nbsp;&nbsp;
                    </small>
                </h3>
                {% import "documentacao/functions.twig" as func %}
                
                <div class="documentos">
                    {% for Documento in Categoria.listaDocumentos() %}
                    <div class="documento" data-doc-hash="{{Documento.getHash()}}">
                        <i class="glyphicon glyphicon-file"></i>&nbsp; <i>{{Documento.getTitulo()}}</i>
                        <small class="lnk">
                            <a href="{{url_mode}}/documento/edicao/{{Documento.getHash()}}">Editar</a>
                            &nbsp;&nbsp;
                        </small>
                    </div>
                    {% endfor %}
                </div>
                
                {{func.listaCategorias(Categoria.listaCategoriasFilhas())}}
            </div>
        {% endfor %}
    {% endif %}
    
{% endmacro %}