{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "Documentação",
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Documentação", ativo:true }
        ]
    }
%}

{% block conteudo %}

    
<style>
    .categoria, .documento{ margin: 0px 0px 0px 25px; padding: 0px 0; }
    .categoria *{ font-size: 14px; }
    .categoria h3, .documento{ padding: 3px 7px 3px 4px; }
    .categoria h3{ margin: 2px; display: table; width: 100%; }
    .categoria h3 .lnk, .documento .lnk{ display: none; float: right; }
    .categoria h3 .lnk a, .documento .lnk a{ font-size: 10px; line-height: 14px; vertical-align: middle; }
    .categoria.first{ margin-left: 0px !important; }
    
    .categoria h3:hover, .documento:hover{ background-color: #DDD; }
    .categoria h3:hover .lnk, .documento:hover .lnk{ display: inline; }
</style>
    
{% import "documentacao/functions.twig" as func %}

<small><a href="{{url_mode}}/categoria/nova/{{Projeto.getHash()}}" class="fancybox-ajax n-cat">Nova Categoria</a></small>

<div class="sortable">{{ func.listaCategorias(categorias, true) }}</div>



<script>
    var anchor = window.location.hash;
    
    function atualizaSelectCategorias( categoria_hash )
    {
        window.location = "{{url_module}}/visualizacao/{{Projeto.getHash()}}/"+categoria_hash;
    }
                
    function excluirCat(categoria_hash){
        $.ajax({
            url: "{{url_mode}}/categoria/excluir",
            type: "post",
            dataType: "json",
            data: { categoria_hash: categoria_hash },
            success: function(data){
                if( data.status ){
                    $("#cat_"+categoria_hash).remove();
                }else{
                    showMessage(data.msg);
                }
            }
        });
    }
    
    $().ready(function(){
        {#$(".sortable").each(function(){
            var hash = $(this).data('categoria-hash')
            $('[data-hash="'+hash+'"]').sortable();
        });#}
        $(".sortable, .sortable-cat").sortable({
            items: "> .sortable-cat",
            cursor: "move",
            opacity: 0.5,
            stop: function( event, ui ){
                var hash_atual = $(ui.item).data("cat-hash");
                var hash_proximo = $(ui.item).next().data("cat-hash");
                
                if( !hash_proximo || typeof hash_proximo === "undefined" ){
                    hash_proximo = null;
                }
                
                $.ajax({
                    url: "{{url_module}}/altera-ordenacao-categoria",
                    type: "post",
                    data: {
                        hash_atual:   hash_atual,
                        hash_proximo: hash_proximo
                    }
                });
                
            }
        });
        $(".documentos").sortable({
            items: "> .documento",
            cursor: "move",
            opacity: 0.5,
            stop: function( event, ui ){
                var hash_atual = $(ui.item).data("doc-hash");
                var hash_proximo = $(ui.item).next().data("doc-hash");
                
                if( !hash_proximo || typeof hash_proximo === "undefined" ){
                    hash_proximo = null;
                }
                
                $.ajax({
                    url: "{{url_module}}/altera-ordenacao-documento",
                    type: "post",
                    data: {
                        hash_atual:   hash_atual,
                        hash_proximo: hash_proximo
                    }
                });
                
            }
        });
        
        $(".sortable").disableSelection();
    });
</script>

{% endblock %}
