{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "Documento",
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Projeto", ativo: true },
            { titulo: Projeto.getTitulo(), url: url_mode~"/documentacao/visualizacao/"~Projeto.getHash() },
            { titulo: "Cadastro de documento", ativo:true }
        ]
    }
%}

{% set import = ["ckeditor","highlight"] %}

{% block conteudo %}
    
<style>
    .cke_textarea_inline{ padding: 10px; border: 1px solid #CCC; }
</style>

<form method="post" action="{{url_module}}/alterar" id="form_cad_doc">
    <input type="hidden" name="documento[hash]" value="{{Documento.getHash()}}"/>
    
    <div class="row">
        <div class="form-group col-sm-12">
            <label>Título do documento</label>
            <input type="text" class="form-control" name="documento[titulo]" value="{{Documento.getConteudo() ? Documento.getTitulo() : ""}}"/>
        </div>
    
        <div class="form-group col-sm-12">
            <label>Conteúdo do documento</label>
            <textarea class="form-control" name="documento[conteudo]" id="doc_conteudo" contenteditable="true">{{Documento.getConteudo()}}</textarea>
        </div>
    </div>
    
    <div class="row">
        <div class="form-group col-sm-12">
            <input type="submit" class="btn btn-primary" value="Salvar Documento"/>
        </div>
    </div>
    
</form>

<script>
    $().ready(function(){
        
        CKEDITOR.inline('doc_conteudo',{
                toolbar: [
                    {#
                    ['Source', '-', 'Save', 'NewPage', 'Preview', 'Print', '-', 'Templates'],
                    ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'],
                    ['Find', 'Replace', '-', 'SelectAll', '-', 'Scayt'],
                    ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat'],
                    ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl'],
                    ['Link', 'Unlink'],
                    ['Image'],
                    ['TextColor', 'BGColor'],
                    ['Maximize', 'ShowBlocks']
                    #}
                    ['Preview','Bold','Italic','Underline','Strike','Image','Subscript','pbckcode',
                        '-','FontSize','TextColor','BGColor','Superscript',
                        '-','NumberedList', 'BulletedList','JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock',
                        '-','RemoveFormat','Maximize','Source']
                ],
                extraPlugins: 'filebrowser,popup,pbckcode',
                //allowedContent= 'pre[*]{*}(*)',
                pbckcode: {
                    highlighter : 'HIGHLIGHT',
                    //highlighter : 'PRETTIFY',
                    modes :  [ ['HTML', 'html'], ['CSS', 'css'], ['PHP', 'php'], ['JS', 'javascript'] ],
                    //theme : 'clouds_midnight'
                    //theme : 'textmate'
                },
                {# PBCKCODE DOC:  http://pierrebaron.fr/pbckcode/    #}
                /*
                filebrowserBrowseUrl: '/browser/browse.php',
                filebrowserImageBrowseUrl: '/browser/browse.php?type=Images',
                */
                filebrowserImageUploadUrl: '{{url}}/painel/ckeditor-manager/upload-images?documento={{Documento.getHash()}}',
                load: function(){
                    console.log("loaded");
                }
        });
        
        $("#form_cad_doc").ajaxForm({
            dataType: 'json',
            success: function(data){
                if( data.status ){
                    window.location = "{{url_mode}}/documentacao/visualizacao/{{Projeto.getHash()}}/{{Categoria.getHash()}}/#{{Documento.getHash()}}";
                }else{
                    showMessage(data.msg);
                }
            }
        });
    });
</script>

{% endblock %}
