{% block conteudo %}

{% if Categoria.getHash() %}
<div class="row">
    <div class="form-group col-sm-12">
        <a href="{{url_module}}/novo/{{Categoria.getHash()}}" class="btn btn-primary">Adicionar documento</a>
    </div>
</div>
{% else %}
    <center>Selecione uma categoria</center>
{% endif %}
    
{% for Documento in documentos %}

<div class="row">
    <div class="form-group col-sm-12">
    </div>
</div>

{% endfor %}

<script>
    $().ready(function(){
{#        $("#select_categoria").change(function(){#}
{#            $("#div_documentos").load("{{url_module}}/lista-documentos/"+$(this).val());#}
{#        });#}
    });
</script>

{% endblock %}
