{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "TESTE",
        caminho: [
            { titulo: "TESTE", ativo: true }
        ]
    }
%}

{% set import = ["ckeditor","highlight"] %}

{% block conteudo %}

    
<pre data-pbcklang="html" data-pbcktabsize="4">
<code class="html ">&lt;script&gt;
var teste = true;

for( var i = 0; i &lt; teste.lenght; i++ ){
    console.log(&quot;tamanho: &quot;+teste[i]);
}
&lt;/script&gt;</code></pre>
    

{% endblock %}
