{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "Documentação",
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Documentação", ativo:true }
        ]
    }
%}

{% block conteudo %}

    
<div class="row">
    <div class="form-group col-sm-12">
        <label>Categoria:</label>
        <select class="form-control" id="select_categoria">
            
            <option selected>{{CategoriaSel.getTituloComposto(' > ')}}</option>
            
            {% if categorias|length > 0 %}
                {{ intraloadOps(categorias)|raw }}
            {% else %}
            <option>Nenhuma categoria cadastrada</option>
            {% endif %}
        </select>
        <small><a href="{{url_mode}}/categoria/nova/{{Projeto.getHash()}}" class="fancybox-ajax n-cat">Nova Categoria</a></small>
        &nbsp;&nbsp;
        <small><a href="" class="fancybox-ajax n-cat" id="nova_sub_cat" style="display:none;">Nova Sub-categoria</a></small>
    </div>
</div>

<div class="form-group" id="div_documentos">
    {% if CategoriaSel.getHash() %}
    <div class="row">
        <div class="form-group col-sm-12">
            <a href="{{url_mode}}/documento/novo/{{CategoriaSel.getHash()}}" class="btn btn-primary">Adicionar documento</a>
        </div>
    </div>
    {% else %}
        <center>Selecione uma categoria</center>
    {% endif %}

    {% for Documento in documentos %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp; {{Documento.getTitulo()}}
                        <a href="{{url_mode}}/documento/edicao/{{Documento.getHash()}}" style="float:right;font-size:12px;">Alterar</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="{{Documento.getHash()}}">{{Documento.getConteudo()|raw}}</div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<script>
    var anchor = window.location.hash;
    
    function atualizaSelectCategorias( categoria_hash, categoria_titulo )
    {
        $("#select_categoria").load("{{url_mode}}/categoria/get-options/{{Projeto.getHash()}}", function(){
            $("#select_categoria").val(categoria_hash);
            $("#select_categoria").change();
        });
    }
    
    $().ready(function(){
        
        {% if CategoriaSel.getHash() %}
            //$("#select_categoria").val("{{CategoriaSel.getHash()}}");
            $("#nova_sub_cat").show().attr("href", "{{url_mode}}/categoria/nova-sub/{{CategoriaSel.getHash()}}").text("Nova Sub-categoria de {{CategoriaSel.getTitulo()}}");
        {% endif %}
          
        $("#select_categoria").change(function(){
            var categoria_hash = $(this).find(':selected').val();
            window.location = "{{url_module}}/visualizacao/{{Projeto.getHash()}}/"+categoria_hash;
        });

    });
</script>

{% endblock %}
