<form method="post" action="{{url_module}}/gravar">
    
    <p>
        Nome do Card: <input type="text" name="nome" value="{{Card.nome}}"/>
    </p>
    
    <hr/>
    <input type="submit" value="Salvar"/>
</form>