{% extends "core/pages/template/main.html" %}

{% block content %}

{% include "painel.html" %}

<style>
    .title label{
        font-size: 20px;
        font-weight: bold;
        color: #FFF;
    }
    .title{
        padding: 0px;
        margin: 0px 0px 8px 0px;
        vertical-align: middle !important;
    }
</style>

<script>
    function changeTable(){
        $("<iframe/>")
            .attr("src", "{{url}}/s/dao-references/change-table?file={{get.file}}")
            .addClass('dialog')
            .dialog({
                height: 400,
                width: 400,
                modal: true,
                resizable: false,
                title: "{{reference['ClassName'] ? 'Change Header' : 'Create Header'}}"
            })
            .css("background-color","#DDD")
            .css("padding","0")
            .css("width","100%");  
    }
    function changeColumn(attributeName){
        $("<iframe/>")
            .attr("src", "{{url}}/s/dao-references/change-column?file={{get.file}}&attribute="+(attributeName?attributeName:""))
            .addClass('dialog')
            .dialog({
                height: 600,
                width: 600,
                modal: true,
                resizable: false,
                title: "Change Column"
            })
            .css("background-color","#DDD")
            .css("padding","0")
            .css("width","100%");  
    }
</script>

<div class="form">
    <div class="title">
        <label>Table</label>&nbsp;&nbsp;
        <input class="button min" onclick="changeTable()" type="button" value="{{reference['ClassName'] ? 'Change Header' : 'Create Header'}}"/>
    </div>
    
    {% if reference['ClassName'] %}
    
    <label>
        Class name <br/>
        <input type="text" size="45" readonly="true" value="{{reference['ClassName']}}"/>
    </label>
    <label>
        Table <br/>
        <input type="text" size="45" readonly="true" value="{{reference['Table']}}"/>
    </label>
    <label>
        Description <br/>
        <input type="text" size="45" readonly="true" value="{{reference['Label']}}"/>
    </label>
    
    <br/><br/><br/>
    <div class="title">
        <label>Columns</label>&nbsp;&nbsp;
        <input class="button min" onclick="changeColumn()" type="button" value="Add Column"/>
    </div>

    {% if reference['Column'] %}

    <div id="columns-tabs">
        <ul>
            {% for attribute,column in reference['Column'] %}
            <li><a href="#attr-{{attribute}}">{{attribute}}</a></li>
            {% endfor %}
        </ul>
        {% for attribute,column in reference['Column'] %}
        <div id="attr-{{attribute}}">
            <div class="form">
                <label>
                    <input class="button min" onclick="changeColumn('{{attribute}}')" type="button" value="Change Column"/>
                </label>
                <br/>
                <label>
                    Attribute <br>
                    <input type="text" readonly="true" size="35" value="{{column['Attribute']}}">
                </label>
                <label>
                    Column <br>
                    <input type="text" readonly="true" size="35" value="{{column['Name']}}">
                </label>
                <label>
                    Descripion <br>
                    <input type="text" readonly="true" size="45" value="{{column['Label']}}">
                </label>
                <br>
                <label>
                    Length <br>
                    <input type="text" readonly="true" size="10" value="{{column['Length']}}">
                </label>
                <label>
                    Default value <br>
                    <input type="text" readonly="true" size="45" value="{{column['Default']}}">
                </label>
                <br>
                <label>
                    Primary <br>
                    <input type="text" readonly="true" size="5" value="{{column['Primary']==1?'Yes':'No'}}">
                </label>
                <label>
                    Unique <br>
                    <input type="text" readonly="true" size="5" value="{{column['Unique']==1?'Yes':'No'}}">
                </label>
                <label>
                    Nullable <br>
                    <input type="text" readonly="true" size="5" value="{{column['Null']==1?'Yes':'No'}}">
                </label>
                <label>
                    Auto-increment <br>
                    <input type="text" readonly="true" size="5" value="{{column['AutoIncrement']==1?'Yes':'No'}}">
                </label>
                <label>
                    Reference Table <br>
                    <input type="text" readonly="true" size="30" value="{{column['Reference']['Table']}}">
                </label>
                <label>
                    Reference Column <br>
                    <input type="text" readonly="true" size="30" value="{{column['Reference']['Column']}}">
                </label>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <script>$("#columns-tabs").tabs({ cookie: { expires: 1, name: "tab-set-ck-{{reference['ClassName']}}" } })</script>
    
    {% endif %}

    {% endif %}
</div>

{% endblock %}