{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: (Projeto.getHash() ? "Edição de projeto: "~Projeto.getTitulo() : "Cadastro de novo projeto"),
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Projetos", ativo:true },
            {
                titulo:(Projeto.getHash() ? Projeto.getTitulo() : "Novo Projeto"),
                ativo:true
            }
        ]
    }
%}

{% block conteudo %}

{% set action = url_module~(Projeto.getHash() ? "/alterar" : "/criar") %}

<form method="post" action="{{action}}" id="form-projeto">

    <input type="hidden" name="hash" value="{{Projeto.getHash()}}"/>
    
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Título do Projeto</label>
            <input type="text" name="titulo" value="{{Projeto.getTitulo()}}" class="form-control"/>
        </div>
    </div>

    <div class="row right">
        <div class="form-group col-sm-3 right">
            <button type="submit" class="btn btn-primary">{{(Projeto.getHash() ? "Atualizar Dados" : "Criar Projeto")}}</button>
        </div>
    </div>

</form>

<script>
    
    $("#form-projeto").ajaxForm({
        dataType: 'json',
        beforeSend: function(){
            $.fancybox.showLoading();
        },
        success: function(data){
            if( data.status ){
                window.location = data.redirect;
            }else{
                showMessage(data.msg);
            }
        },
        complete: function(){
            $.fancybox.hideLoading();
        }
    });
</script>
    
{% endblock %}