{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "Projeto "~Projeto.getTitulo(),
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Projetos", ativo:true },
            { titulo: Projeto.getTitulo(), ativo:true }
        ]
    }
%}

{% block conteudo %}

{% set action = url_module~(Projeto.getHash() ? "/alterar" : "/criar") %}

<div>

    <div class="row">
        <input type="hidden" name="hash" value="{{Projeto.getHash()}}"/>    
        <div class="form-group col-sm-6">
            <label>Título do Projeto</label>
            <input type="text" readonly value="{{Projeto.getTitulo()}}" class="form-control"/>
        </div>
    </div>
        
    <div class="row">
        <hr/>
        <div class="form-group col-sm-6">
            <a href="{{url_module}}/edicao/{{Projeto.getHash()}}" class="btn btn-primary">Alterar Projeto</a>
        </div>
    </div>

</div>
<br/>
    
<ul class="nav nav-tabs" id="tabs-projeto" style="margin-bottom: 15px;">
    <li class="active"><a href="{{url}}/painel/projeto/usuario/visualizacao-tab/{{Projeto.getHash()}}" data-toggle="tab" data-target="#tab-usuarios">Usuários</a></li>
    {#<li><a href="{{url}}/painel/projeto/trello/visualizacao-tab/{{Projeto.getHash()}}" data-toggle="tab" data-target="#tab-boards">Trello Boards</a></li>#}
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="tab-usuarios">Usuários</div>
    <div class="tab-pane fade in" id="tab-boards">Boards</div>
</div>

<script>
    $('#tabs-projeto').find('a').click(function(e) {
        e.preventDefault();
        $( $(this).data('target') ).load( $(this).attr('href') );
    });
    $('#tabs-projeto').find('a').first().trigger('click');
</script>
    
{% endblock %}