{% extends "painel.twig" %}

{% set UsuarioOnline = globals['page']['UsuarioOnline'] %}
{% set is_current = UsuarioOnline.getHash() == Usuario.getHash() %}
    
{%
    set pagina = {
        titulo: ("Perfil do Usuário: "~UsuarioOnline.getNome()),
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Perfil", url: url~"/painel/perfil" },
            { titulo: UsuarioOnline.getNome(), url: url_module~"/"~Projeto.getHash() },
            { titulo: "Edição", url: url_module~"/edicao", ativo:true }
        ]
    }
%}

{% block conteudo %}

<form method="post" action="{{url_module}}/alterar" id="form-projeto" class="row" autocomplete="off">

    <input type="hidden" name="hash" value="{{UsuarioOnline.getHash()}}"/>
    
    <table class="table-condensed table-usuario col-sm-12">
        <tr>
            <td>Nome</td>
            <td><input type="text" name="nome" value="{{UsuarioOnline.getNome()}}" class="form-control"/></td>
        </tr>
        <tr>
            <td>Login</td>
            <td><input type="text" name="login" value="{{UsuarioOnline.getLogin()}}" class="form-control"/></td>
        </tr>
        <tr>
            <td>Senha</td>
            <td><input type="password" name="senha" value="" placeholder="Mantenha em branco para não alterar" class="form-control"/></td>
        </tr>
        <tr>
            <td>Repita a Senha</td>
            <td><input type="password" name="rsenha" value="" placeholder="Mantenha em branco para não alterar" class="form-control"/></td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td><input type="text" name="email" value="{{UsuarioOnline.getEmail()}}" class="form-control"/></td>
        </tr>
        <tr>
            <td>Trello Member ID</td>
            <td><input type="text" readonly value="{{UsuarioOnline.getTrelloMemberId()}}" class="form-control"/></td>
            {#<td><input type="text" name="trello_member_id" value="{{UsuarioOnline.getTrelloMemberId()}}" class="form-control"/></td>#}
        </tr>
        {% if UsuarioOnline.getTrelloDeveloperKey() %}
        <tr>
            <td>Trello Developer Key</td>
            <td>
                <input type="text" readonly value="{{UsuarioOnline.getTrelloDeveloperKey()}}" class="form-control" id="developer-key"/>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>Trello Developer Key</td>
            <td>
                <input type="text" name="trello_developer_key" value="{{UsuarioOnline.getTrelloDeveloperKey()}}" class="form-control" id="developer-key"/>
                <small><a href="https://trello.com/1/appKey/generate" target="_blank">https://trello.com/1/appKey/generate</a></small>
            </td>
        </tr>
        {% endif %}
        
        {% if UsuarioOnline.getTrelloDeveloperKey() %}
        <tr>
            <td>Trello Auth Token</td>
            <td>
                <input type="text" readonly value="{{UsuarioOnline.getTrelloAuthToken()}}" class="form-control"/>
            </td>
        </tr>
        {% else %}
        <tr>
            <td>Trello Auth Token</td>
            <td>
                <input type="text" name="trello_auth_token" value="{{UsuarioOnline.getTrelloAuthToken()}}" class="form-control"/>
                <small><a href="#" id="gerar-token" target="_blank">Gerar token de autorização</a></small>
            </td>
        </tr>
        {% endif %}
    </table>

    <div class="row right">
        <div class="form-group col-sm-12">
            <hr/>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </div>
    </div>

</form>

<style>
    .table-usuario tr:first-child td{ border-top: none; }
    .table-usuario tr td:first-child{ font-weight: bolder; text-align: right; width: 180px; }
</style>

<script>
    
    $("input").attr("autocomplete", "off");
    
    $("#form-projeto").ajaxForm({
        dataType: 'json',
        beforeSend: function(){
            $.fancybox.showLoading();
        },
        success: function(data){
            if( data.status ){
                window.location = data.redirect;
            }else{
                showMessage(data.msg);
            }
        },
        complete: function(){
            $.fancybox.hideLoading();
        }
    });
    
    $("#gerar-token").on('click', function(){
        var dev_key = $("#developer-key").val();
        if( !dev_key ){
            showMessage("Para gerar o token, a chave do desenvolvedor deve estar cadastrada");
            return false;
        }
        var url = "https://trello.com/1/authorize?key="+dev_key+"&expiration=never&response_type=token&scope=read,write";
        
        $(this).attr('href', url);
        
    });
</script>
    
{% endblock %}