{% extends "painel.twig" %}

{% set UsuarioOnline = globals['page']['UsuarioOnline'] %}
{% set is_current = UsuarioOnline.getHash() == Usuario.getHash() %}

{%
    set pagina = {
        titulo: ("Perfil do Usuário: "~Usuario.getNome()),
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Perfil", ativo:true },
            { titulo: Usuario.getNome(), ativo:true }
        ]
    }
%}

{% block conteudo %}

<div class="row">
    <div class="form-group col-sm-12">
        <table class="table-condensed table-usuario">
            <tr>
                <td>Nome</td>
                <td>{{Usuario.getNome()}}</td>
            </tr>
            <tr>
                <td>Login</td>
                <td>{{Usuario.getLogin()}}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{Usuario.getEmail()}}</td>
            </tr>
            <tr>
                <td>Trello Member ID</td>
                <td>{{Usuario.getTrelloMemberId()}}</td>
            </tr>
            <tr>
                <td>Trello Developer Key</td>
                <td>{{Usuario.getTrelloDeveloperKey()}}</td>
            </tr>
            <tr>
                <td>Trello Auth Token</td>
                <td>{{Usuario.getTrelloAuthToken()}}</td>
            </tr>
        </table>
    </div>
</div>

{% if is_current %}
<div class="row">
    <hr/>
    <div class="form-group col-sm-12">
        <a href="{{url_module}}/edicao" class="btn btn-primary">Alterar Perfil</a>
    </div>      
</div>
{% endif %}

<style>
    .table-usuario tr:first-child td{ border-top: none; }
    .table-usuario tr td:first-child{ font-weight: bolder; text-align: right; width: 180px; }
</style>

{% endblock %}