
{% if lista_boards['cont_total'] > 0 %}

<table class="table table-list table-responsive">
    <thead>
        <tr>
            <th>Key</th>
            <th>Nome</th>
            <th>Url</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {% for Board in lista_boards['rows'] %}
        <tr id="row-user-001">
            <td>{{Board.getKey()}}</td>
            <td><a href="{{url}}/painel/projeto/board/visualizacao/{{Board.getKey()}}">{{Board.getName()}}</a></td>
            <td><a href="{{Board.getUrl()}}" target="_blank">{{Board.getUrl()}}</a></td>
            <td>{{Board.getID()}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

    <center><i>Nenhum board cadastrado para este projeto</i></center>

{% endif %}

<br/>
<br/>

<a href="{{url_module}}/novo/{{Projeto.getHash()}}" class="btn btn-primary">Adicionar Board</a>