{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "Boards",
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Boards", ativo:true }
        ]
    }
%}
    
{% block conteudo %}

    <form method="post" action="{{url_module}}/buscar-trello">
    
        <input type="hidden" name="projeto_hash" value="{{Projeto.getHash()}}"/>
        <div class="row">
            <div class="form-group col-sm-6">
                <label>Importar board do trello para o projeto: </label>
                <input class="form-control" name="id" />
                <p class="help-block">Informe o ID do board que deseja importar</p>
            </div>

            <div class="form-group col-sm-3 right">
                <label>&nbsp;</label>
                <button type="submit" class="form-control btn btn-default">Importar Board</button>
            </div>
        </div>
        
    </form>

    <hr/>
    
    <h4>Boards anexados a este projeto</h4>
    <br/>
    
    {% include "board/inc-lista-boards.twig" %}
        
{% endblock %}
