{% extends "painel.twig" %}

{%
    set pagina = {
        titulo: "Boards",
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Boards", ativo:true }
        ]
    }
%}
    
{% block conteudo %}

    <div class="row" style="text-align: center;">
        
        <h4>Desculpe, mas voccê não está autorizado a acessar esta página</h4>
        
        <i>
            Para visualizar boards, cards ou membros, você deve ter cadastrado os 
            seus dados do trello no <a href="{{url}}/painel/perfil">Perfil do Usuário</a>
        </i>
        
    </div>
        
{% endblock %}
