<form role="form" method="post" action="{{url_module}}/criar-card" id="form-novo-card-{{lista_id}}">

    <div class="form-group">
        <label>Nome do Card</label>
        <input class="form-control" name="card_name"/>
    </div>

    <div class="form-group">
        <label>Text area</label>
        <textarea class="form-control" name="card_desc" rows="4"></textarea>
    </div>
    
    <input type="hidden" name="lista_id" value="{{lista_id}}"/>
    <button type="reset" class="btn btn-default">Limpar Campos</button>
    <button type="submit" class="btn btn-success">Criar Card</button>

</form>
    
<script>
    $().ready(function(){
        
        $("#form-novo-card-{{lista_id}}").ajaxForm({
            //dataType: 'json',
            success: function(data){
                console.log(data);
            },
            error: function(){
                //$.fancybox.close();
                //noty({ text: "Falha ao enviar arquivo. Tente novamente mais tarde.", type: 'error' });
            }
        });
        
    });
</script>