{% extends "painel.twig" %}

{% set Projeto = Board.getProjetoObj() %}

{%
    set pagina = {
        titulo: "Visualização de Board: "~Board.getName(),
        caminho: [
            { titulo: "Painel", url: url~"/painel" },
            { titulo: "Projetos", ativo:true },
            { titulo: Projeto.getTitulo(), url: url~"/painel/projetos/visualizacao/"~Projeto.getHash() },
            { titulo: "Boards", ativo:true },
            { titulo: Board.getName(), ativo:true }
        ]
    }
%}

{% block conteudo %}

<style>
    .table-cards tbody tr td{ padding-left: 20px; }
</style>
    
<div class="row">
    <div class="form-group col-sm-12">
        <label>Link oficial: <a href="{{Board.getUrl()}}" target="_blank">{{Board.getName()}}</a> </label>
    </div>
</div>

<div class="row right">
    <div class="form-group col-sm-3 right">
        <button class="btn btn-primary btn-atualiza" onclick="atualizaDados();">Atualizar Dados do Board</button>
    </div>
</div>
<br/>

<ul class="nav nav-tabs" id="tabs-board" style="margin-bottom: 15px;">
    <li class="active"><a href="{{url}}/painel/projeto/board-card/visualizacao-tab/{{Board.getKey()}}" data-toggle="tab" data-target="#tab-cards">Cards/Atividades</a></li>
    <li><a href="{{url}}/painel/projeto/board-membro/visualizacao-tab/{{Board.getKey()}}" data-toggle="tab" data-target="#tab-members">Membros</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="tab-cards"></div>
    <div class="tab-pane fade in" id="tab-members"></div>
</div>

<script>
    $('#tabs-board').find('a').click(function(e) {
        e.preventDefault();
        $( $(this).data('target') ).load( $(this).attr('href') );
    });
    //$('#tabs-board').find('a').first().trigger('click');
    
    function atualizaDados(){
        $('.btn-atualiza').attr('disabled',true).html('Atualizando. Aguarde...');
        $.fancybox.showLoading();
        
        $.ajax({
            url: "{{url}}/painel/projeto/board/atualiza-board",
            data: {
                boardId: "{{Board.getId()}}",
                boardKey: "{{Board.getKey()}}",
                field: ['lists','cards','labels','members']
            },
            dataType: 'json',
            type: 'get',
            success: function( data ){
                $('.btn-atualiza').attr('disabled',false).html('Atualizar Dados do Board');
                $.fancybox.hideLoading();
                if( data.status ){
                    window.location = window.location;
                    //noty({text: "Dados atualizados com sucesso", type: 'success', timeout: 5000});
                }else{
                    noty({text: data.msg, type: 'error', timeout: 5000});
                }
            },
            error: function(){
                $.fancybox.hideLoading();
                $('.btn-atualiza').attr('disabled',false).html('Atualizar Dados do Board');
                noty({text: "Falha ao atualizar dados. Tente novamente mais tarde", type: 'error', timeout: 5000});
            }
        });
    }

    function atualizaTab(){
        $('#tabs-board').find('.active').find('a').first().trigger('click');
    }
    
    atualizaTab();
</script>
    
{% endblock %}