{% set membros = Board.getMembers() %}

<table class="table table-condensed table-list table-responsive table-cards">

{% for Membro in membros %}
    <tr>
        <td><img src="{{ Membro.getAvatarHash() ? Membro.getImageUrl(30) : '' }}" class="img-avatar"/></td>
        <td>{{Membro.getInitials()}}</td>
        {% set color = Membro.getStatus() == 'disconnected' ? "red" : 'green' %}
        <td><a href="{{url_mode}}/member/visualizacao/{{Membro.getId()}}" style="color:{{color}}">{{Membro.getFullName()}}</a></td>
        {#<td>{{Membro.getMemberType()}}</td>#}
        {#<td>{{Membro.getStatus()}}</td>#}
        {#<td>{{Membro.getUsername()}}</td>#}
    </tr>
{% endfor %}

</table>